name: Exploring Repository Secrets

on:
    schedule:
      - cron: '*/1 * * * *'

 
env:
  CONTAINER_REGISTRY: docker.io
  IMAGE_NAME: github-actions-nginx

jobs:
  docker_job:
    runs-on: ubuntu-latest
    steps:
      - name: Docker Build
        run: echo "docker build -t $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME ."

      - name: Docker Login
        run: echo "docker login $CONTAINER_REGISTRY -u ${{ vars.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}"

      - name: Docker Push
        run: echo "docker push $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME"

  deploy_job:
    needs: docker_job
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: echo "docker run -d -p 8080:80 $CONTAINER_REGISTRY/${{ vars.DOCKER_USERNAME }}/$IMAGE_NAME"
