name: Exploring Variables
on: push

env:
  CONTAINER_REGISTRY: docker.io
  DOCKER_USERNAME: your_docker_username
  IMAGE_NAME: github-actions-nginx

jobs:
  docker_job:
    runs-on: ubuntu-latest
    steps:
      - name: Docker Build 
        run: echo "docker build -t $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest ."

      - name: Docker Login 
        env:
          DOCKER_PASSWORD: "PLAIN_TEXT_PASSWORD"
        run: echo "docker login $CONTAINER_REGISTRY -u $DOCKER_USERNAME -p $DOCKER_PASSWORD"

      - name: Docker Push 
        run: echo "docker push $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest"

  deploy_job:
    needs: docker_job
    runs-on: ubuntu-latest
    steps:
      - name: Run image 
        run: echo "docker run -d -p 8080:80 $CONTAINER_REGISTRY/$DOCKER_USERNAME/$IMAGE_NAME:latest"
